*{
    padding: 0;
    margin: 0;
}

/* Estilos base (para pantallas grandes) */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #414141;
    overflow-x: hidden;

}

.container {
    display: flex;
    width: 90%;
    background-color: #e2e2e2;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    height: 90vh;
    overflow: hidden;
    border-radius: 10px;
    overflow-x: hidden;



}

.content-container {
    width: 75%;
    padding: 20px;
    overflow-y: auto;
    overflow-x: hidden;

}

.tabs {
    display: flex;
    align-items: end;
    border-bottom: 2px solid #E23C1B;
    padding: 10px 10px 0px 10px;
    background-color: #000000;
    border-radius: 8px 8px 0 0;
    overflow-y: auto;
    overflow-x: hidden;

}

/* Logo Responsive */
.tabs img.logo-completo {
    display: block;
}

.tabs img.logo-simbolo {
    display: none;
}


.tabs img {
    width: 100px;
    margin-right: 0;
}

.tablink {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s;
    margin-right: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    border-radius: 5px 5px 0 0;
    border: 1px solid #E23C1B;
}

.tablink:hover {
    background-color: #ddd;
    color: #E23C1B;
}

.tablink.active {
    background-color: #E23C1B;
    color: white;
    font-weight: bold;
}

.tabcontent {
    display: none;
    padding: 20px;
    background-color: white;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tabcontent.active {
    display: block;
}
























